body {
    font-family: 'Encode Sans', sans-serif;
    margin: auto;
    letter-spacing: -1px;
    min-width: 1250px;
}

img.g1 {
    width: 193px;
    height: 110px;
    margin-bottom: 15px;
    border-radius: 12px;
}

img.lateral {
    width: 240px;
    height: 128px;
    margin-bottom: 15px;
    border-radius: 12px;
}

a:link {
    text-decoration: none;
}

hr.solid-h {
    border-top: 1px solid #F5F6F7;
    height: 1px ;
}

hr.solid-h2 {
    border-top: 1px solid #F5F6F7;
    width: 100%;
}

hr.solid-v {
    margin-top: 35px;
    margin-left: 35px;
    border-left: 1px solid #F5F6F7;
}

.barra-topo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 22px;
    margin-bottom: 22px;
    height: 36px;
}


.menu-center {
    display: flex;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;
}

.menu{
    height: 44px;
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-sites {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 4px;
}

.home-center {
    display: flex;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;
}

.home {
    width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.noticias {
    display: flex;
    flex-direction: column;
    max-width: 625px;
}

.principal {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 15px;
}

.titulo {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: #2F3134;
}

.materia-principal {
    font-size: 52px;
    font-weight: bold;
    color: #C4160C;
    margin-bottom: 35px;
    line-height: 65px;
}

.materia-principal-secundaria {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: #303134;
    margin-bottom: 7px;
}

.g1 {
    display: flex;
    justify-content: space-between;
    width: 630px;
    margin-bottom: 35px;
}

.materia-g1 {
    width: 193px;
    margin-top: 25px;
}

.subtitulo-g1 {
    font-size: 14px;
    font-weight: 500;
    color: #C4170C;
    margin-bottom: 7px;
}

.ge{
    margin-top: 35px;
    margin-left: 35px;
    width: 240px;
}

.materia-ge {
    width: 240px;
    margin-bottom: 50px;
}

.subtitulo-ge {
    font-size: 14px;
    font-weight: 500;
    color: #16AE54;
    margin-bottom:7px
}

.gshow{
    margin-top: 35px;
    margin-left: 35px;
    width: 240px;
}

.materia-gshow {
    width: 240px;
    margin-bottom: 50px;
}

.subtitulo-gshow {
    font-size: 14px;
    font-weight: 500;
    color: #EC8006;
    margin-bottom:7px       
}

.materia-secundaria {
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
    color: #303134;
}

a:hover {
    filter: brightness(1.25);
    transition: 0.5s;
}

img.logo:hover {
    filter: brightness(0.9);
    transition: 0.5s;
}

img:hover {
    filter: brightness(0.75);
    transition: 0.5s;
}